* {
  font-family: "Poppins", sans-serif;
}

body {
  color: #333;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

nav{
  margin: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 19px 0;
}

#logo{
  font-weight: bold;
  font-size: 24px;
  padding-left: 10%;
  display: flex;
}

#logo-span::first-letter{
  color: red;
  font-size: 30px;
}

#hamburger, #close{
  display: none;
}


#nav-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 70%;
}

#nav-content{
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

h1,
h2 {
  font-weight: 700;
}
p {
  font-weight: 400;
}


hr {
  width: 50%;
  margin: 20px auto;
  border-top: 1px solid #ccc;
}

.top-welcome {
  background: linear-gradient(to top, rgb(60, 60, 205), orangered);
  color: white;
  padding-top: 16px;
  text-align: center;
  margin-top: 74px;
  width: 100%;
}

#about-para{
  width: 75%;
  padding: 0 15%;
}

section {
  padding: 8px;
  /* text-align: center; */
}

#personal-img {
  border-radius: 50%;
  background-color: blue;
  width: 32vw;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.email-icon {
  color: white;
  background-color: red;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;
  margin-right: 12px;
}

.linkedIn-icon {
  color: white;
  background-color: blue;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;
  margin-left: 12px;
  animation: pulse 2s infinite alternate;
}

.icon-link:hover {
  color: black;
  /* animation: pulse 2s infinite alternate; */
}

.let {
  margin-bottom: 24px;
}

ol {
  display: flex;
  gap: 16px;
  padding: 0;
}

li {
  list-style: none;
  /* border: 1px solid #333; */
  padding: 8px 32px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: white;
  color: black;
}

li:hover {
  cursor: pointer;
  text-decoration: underline #333;
  transform: scale(1.1);
}

.icon-container img {
  width: 48px;
  margin-right: 20px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
}

/*-------------------------form styling------------------*/
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, rgb(60, 60, 205), red);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background: linear-gradient(to right, red, rgb(60, 60, 205));
}

.form-group small {
  color: #888;
  font-size: 12px;
}

/*---------------------------footer----------------------*/

footer {
  display: flex;
  height: 96px;
  background: linear-gradient(to right, rgb(60, 60, 205), red);
  align-items: center;
  justify-content: center;
  color: white;
}

/*--------------------------------Mode Change------------------------*/
.dark-mode-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode button {
  background-color: #555;
  color: #fff;
}

.dark-mode p {
  color: #fff;
}

.dark-mode nav{
  color: black;
}

/*----------------------------Progress Bar----------------------*/
#progress-div{
  width: 50%;
}

#progress-div p{
  display: flex;
}

#programming-language { 
  margin-top: 50px;
}

.skill{
  width: 100%;
  height: 18px;
  background: #cccccc;
  border-radius: 10px;
  display: flex;
}

.progress-bar {
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, red, rgb(60, 60, 205));
  border-radius: 10px;
  position: relative;
  transition: all .5s;
}

.progress-bar span{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
}

/*----------------------------Project Section--------------------------*/

#project-section-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

#project-section-div div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 1vw;
  gap: 4px;
  width: 25%;
}

#project-section-div div a{
  padding: 4px 8px;
  background: linear-gradient(to right, rgb(60, 60, 205), red);
  color: white;
  border-radius: 4px;
  text-decoration: none;
}

#project-section-div div a:hover{
  transform: scale(1.1);
  background: linear-gradient(to right, red, rgb(60, 60, 205));
}

#project-section div img, video{
  width: 100%;
  height: 150px;
}

/*-------------------------Animation Keyframes------------------*/

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.horizontal-scroll {
  overflow-x: hidden;
  width: 50%;
}

.icon-container {
  display: flex;
  animation: scrollAnimation 10s linear infinite;
  width: max-content;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* @keyframes pulse {

    from{
        transform: scale(1);
    }
    
    to{
        transform: scale(1.1);
    }
} */

/*--------------------------Responsiveness--------------------*/


@media only screen and (max-width: 662px) {
  nav{
    margin: 0;
  }

  #logo{
    width: 50%;
  }

  #hamburger{
    display: flex;
    justify-content: flex-end;
    width: 35%;
  }

  #ham{
    font-size: 6vw;
  }

  #about-para{
    width: 90%;
    padding: 2%;
  }

  #nav-content{
    display: none;
  }

  #progress-div{
    width: 75%;
  }

  #progress-div .skill{
    height: 4vw;
  }

  .progress-bar span{
    font-size: 12px;
  }
}

@media only screen and (max-width: 412px) {
  .top-welcome {
    padding: 8px;
  }

  #ham{
    font-size: 10vw;
  }

  ol {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  li {
    width: 100%;
  }

  li:hover {
    transform: scale(1.1);
  }

  .email-icon {
    padding: 14px 16px;
  }

  .linkedIn-icon {
    padding: 16px 18px;
  }

  .skills-list {
    flex-direction: column;
    width: 75%;
  }

  .horizontal-scroll {
    width: 75%;
  }

  .form-container {
    width: 75%;
    margin: 32px auto;
  }

  .form-group {
    margin-bottom: 16px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 8px;
  }

  textarea {
    min-height: 50px;
  }

  .submit-btn {
    width: 100%;
    padding: 8px;
  }

  footer {
    height: 72px;
  }

  #project-section-div{
    flex-direction: column;
  }

  #project-section-div div{
    width: 90%;
    column-gap: 5%;
  }

  #project-section-div div img, video{
    width: 100%;
  }

  #nav-content, #nav-text{
    flex-direction: column;
    gap: 1.5vw;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    color: white;
    width: 100%;
    padding: 16px 0;
  }

  #nav-text div:hover{
    color: red;
  }

  #close{
    font-size: 32px;
  }

}
