* {
  font-family: "Poppins", sans-serif;
  /* margin: 0; */
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.4;
}

h1,
h2 {
  font-weight: 700;
}
p {
  font-weight: 400;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

hr {
  width: 50%;
  margin: 20px auto;
  border-top: 1px solid #ccc;
}

.top-welcome {
  background: linear-gradient(to right, purple, rgb(239, 87, 5));
  padding: 16px 0;
  color: white;
  text-align: center;
}

section {
  padding: 8px;
  /* text-align: center; */
}

img {
  border-radius: 50%;
  background-color: blue;
  width: 250px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


.email-icon {
  color: white;
  background-color: red;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;
  margin-right: 12px;
}

.linkedIn-icon {
  color: white;
  background-color: blue;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;
  margin-left: 12px;
  animation: pulse 2s infinite alternate;
}

.icon-link:hover {
  color: black;
  /* animation: pulse 2s infinite alternate; */
}

.let{
    margin-bottom: 24px;
}

ol {
  display: flex;
  gap: 16px;
  padding: 0;
}

li {
  list-style: none;
  /* border: 1px solid #333; */
  padding: 8px 32px;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

li:hover {
  cursor: pointer;
  text-decoration: underline #333;
  transform: scale(1.1);
}

.icon-container img {
  width: 48px;
  margin-right: 20px;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 1);
}

/*-------------------------form styling------------------*/

.form-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(to right, purple, rgb(239, 87, 5));
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background: linear-gradient(to right, rgb(239, 87, 5), purple);
}

.form-group small {
  color: #888;
  font-size: 12px;
}

/*---------------------------footer----------------------*/

footer {
  height: 96px;
  background: linear-gradient(to right, purple, rgb(239, 87, 5));
  align-content: center;
  color: white;
}

/*-------------------------Animation Keyframes------------------*/

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

.horizontal-scroll {
  overflow-x: hidden;
  width: 50%;
}

.icon-container {
  display: flex;
  animation: scrollAnimation 10s linear infinite;
  width: max-content;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* @keyframes pulse {

    from{
        transform: scale(1);
    }
    
    to{
        transform: scale(1.1);
    }
} */

/*--------------------------Responsiveness--------------------*/

@media only screen and (max-width: 412px) {
  .top-welcome {
    padding: 8px;
  }

  ol {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 75%;
  }

  li{
    width: 100%;
  }

  li:hover {
    transform: scale(1.1);
  }

  .email-icon {
    padding: 14px 16px;
  }
  
  .linkedIn-icon {
    padding: 16px 18px;
  }

  .skills-list {
    flex-direction: column;
    width: 75%;
  }

  .horizontal-scroll {
    width: 75%;
  }

  .form-container {
    width: 75%;
    margin: 32px auto;
  }

  .form-group {
    margin-bottom: 16px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 90%;
    padding: 8px;
  }

  textarea {
    min-height: 50px;
  }

  .submit-btn {
    width: 100%;
    padding: 8px;
  }

  footer {
    height: 72px;
  }
}
