body{
    margin: 0 5% 4% 5%;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: #037E89; 
    color: black;
}

p{
    text-align: justify;
}

#video-para{
    text-align: center;
}

button img{
    width: 24px;
}

button{
    padding: 4px 16px;
    margin: 8px;
    border: none;
    background: #037E89;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    border: 1.5px solid black;
}